/* * {
  box-sizing: border-box;
} */

.login_container {
  background: linear-gradient(to left, rgba(243, 240, 240, 0), rgba(231, 161, 172, 0.952));
  /* background: black; */
    /* background: white; */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: rgb(82, 64, 64);
  height: 100vh;
  margin: -20px 0 50px;
}
.login_container h1,h2{
  margin-bottom:3rem;;
}

.landingHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(82, 64, 64);

}