.me-auto {
    
    width: 100%;
    justify-content: flex-end;
   
    
}

.navigationMenu {
    background-color: rgba(201, 196, 196, 0.925);
}

.link{
    display: inline;
}

.none{
    display: none;
}