.mentees{
background: rgba(29, 28, 34, 0.968);
color: rgb(243, 240, 235);
}
.main{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-direction: row-reverse;

}
.gradElement{
    display: flex;
    margin-top: 5rem;
    margin-left: 45%;
}
